<div class="text-primary p-8 h-full flex flex-col gap-4 shadow-sm">
  <h2 hlmH2>Mes clients</h2>

  <div hlmInputGroup>
    <input hlmInputGroupInput placeholder="Rechercher un client..." (input)="search($event)"/>
    <div hlmInputGroupAddon>
      <ng-icon name="lucideSearch" />
    </div>
  </div>

  <div class="flex flex-col">
    @for (client of filteredClients$ | async; track client.id) {
      <button
        hlmBtn
        [variant]="selectedClient === client ? 'default' : 'ghost'"
        class="w-full justify-start"
        (click)="onClientClick(client)">
        <ng-icon name="lucideUser" />
        {{ client.lastName }} {{ client.firstName }}
      </button>
    }
  </div>
</div>
