<div hlmSidebarWrapper>
  <hlm-sidebar>

    <div hlmSidebarHeader class="mt-2">
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          <button hlmSidebarMenuButton align="start">
            <div
              class="bg-sidebar-primary text-sidebar-primary-foreground flex aspect-square size-8 items-center justify-center rounded-lg"
            >
              <ng-icon role="img" hlm size="sm" name="lucideLayoutDashboard"></ng-icon>
            </div>
            <div class="grid flex-1 text-left text-sm leading-tight">
              <span class="font-medium">Mon dashboard</span>
              <span class="text-xs">Conseiller</span>
            </div>
          </button>
        </li>
      </ul>
    </div>

    <div hlmSidebarContent>
      <div hlmSidebarGroup>
        <div hlmSidebarGroupLabel>Mes clients</div>
        <div hlmSidebarGroupContent>
          <div hlmInputGroup class="mb-4">
            <input
              hlmInputGroupInput
              placeholder="Rechercher un client..."
              (input)="search($event)"
            />
            <div hlmInputGroupAddon>
              <ng-icon name="lucideSearch" />
            </div>
          </div>
          <ul hlmSidebarMenu>
            @for (client of filteredClients$ | async; track client.id) {
              <li hlmSidebarMenuItem>
                <a
                  hlmSidebarMenuButton
                  (click)="onClientClick(client)"
                  [class.bg-primary]="selectedClient === client"
                  [class.text-primary-foreground]="selectedClient === client"
                  class="hover:bg-primary! hover:text-primary-foreground!"
                >
                  <ng-icon hlm name="lucideUser" />
                  <span>{{ client.lastName }} {{ client.firstName }}</span>
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>

  </hlm-sidebar>

  <ng-content />
</div>
