<div class="flex gap-4 mt-2">
    @for (account of accounts(); track account.id) {
        <hlm-card
            size="sm"
            class="w-full max-w-md cursor-pointer"
            [class.border-primary]="selectedAccount()?.id === account.id"
            [class.opacity-50]="selectedAccount()?.id !== account.id"
            (click)="onAccountClick(account)">
			<hlm-card-header>
                @if (account.type === 'CHECKING') {
				    <h3 hlmCardTitle>Compte courant</h3>
                } @else if (account.type === 'SAVINGS') {
                    <h3 hlmCardTitle>Compte épargne</h3>
                }

				<p hlmCardDescription>{{account.iban}}</p>
			</hlm-card-header>
			<div hlmCardContent>
				<p>{{account.balance}}€</p>
			</div>

		</hlm-card>
    }
</div>