<div class="mt-4"></div>
@if (account()) {
  @if (account()?.type === 'CHECKING') {
    <p>Transactions - Compte courant <span class="opacity-50 text-sm">[{{account()?.iban}}]</span></p>
  } @else if (account()?.type === 'SAVINGS') {
    <p>Transactions - Compte épargne <span class="opacity-50 text-sm">[{{account()?.iban}}]</span></p>
  }

  <div hlmTableContainer>
    <table hlmTable>
      <thead hlmTHead>
        <tr hlmTr>
          <th hlmTh>Date</th>
          <th hlmTh>Description</th>
          <th hlmTh class="text-right">Montant</th>
        </tr>
      </thead>
      <tbody hlmTBody>
        @for (transaction of transactions().slice().reverse(); track transaction.id) {
          <tr hlmTr>
            <td hlmTd class="font-medium">{{ transaction.date | date:'dd/MM/yyyy' }}</td>
            <td hlmTd>{{ transaction.description }}</td>
            @if (transaction.type === 'CREDIT') {
              <td hlmTd class="text-right text-emerald-600">+{{ transaction.amount }}€</td>
            } @else if (transaction.type === 'DEBIT') {
              <td hlmTd class="text-right text-rose-600">-{{ transaction.amount }}€</td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
}
